## 2. Muestreo Aleatorio

import numpy as np

import pandas as pd

import scipy as stat

In [10]:
import numpy as np
import pandas as pd
import scipy as stat

personas = pd.read_csv("personas.csv")

In [11]:
df_personas = pd.read_excel('Dataset/personas.xlsx')
df_personas.head()

       altura        peso       ingreso  horas_trabajadas  ausencias
0  134.433878   70.617864   9973.577534         40.905476          4
1  167.158746  109.268295   8961.047249         41.576483          4
2  141.480812   81.034644   7437.977263         41.369239          5
3  123.227119   57.884172  12064.915290         41.537211          3
4  143.554951   93.581093   9296.396167         40.441203          4

df_personas

------
### Muestreo de Rows

muestra_personas = df_personas.sample(frac = 0.10)
muestra_personas

In [10]:
muestras_p = df_personas.sample(n = 10000, replace=True)
muestras_p

         altura        peso       ingreso  horas_trabajadas  ausencias
425  143.043913   82.922178   9329.543635         40.511352          4
988  160.773830  106.292834  13166.735550         41.602362          2
155  187.279235  126.549768  10646.478140         41.145275          3
673  122.837537   55.114137   8575.142792         41.806896          4
782  109.536839   43.470586  13063.643860         41.962587          2
..          ...         ...           ...               ...        ...
8    178.229851  116.055520  11934.461470         41.163304          3
506  177.117368  100.855795  12725.639330         41.198430          2
189  133.976229   82.414895  10367.033370         40.796422          3
147  142.526930   74.744888  10688.979560         40.311096          3
317  169.810278  110.743899   9959.026626         41.141188          4

[10000 rows x 5 columns]

In [11]:
muestras_personas = df_personas.sample(frac = 0.01)
muestras_personas

         altura        peso       ingreso  horas_trabajadas  ausencias
217  127.956959   48.429071  10178.039210         40.937751          4
768  116.659020   42.453811  12372.136970         42.174607          2
288  148.088831   77.823662  11265.492690         42.030289          3
280  123.204654   70.807415  10761.730740         41.260881          3
373  158.759479  101.939872  11422.597390         41.269245          3
926  148.522704   91.471818   9993.322490         40.785573          4
244  150.863863   95.074258   7067.791126         40.778464          5
323  181.198303  128.679401   9212.226723         40.890555          4
803  181.230782  104.540775   9743.275116         41.714100          4
341  120.039464   53.337692   9370.892018         40.909201          4

muestra_altura = np.random.choice(df_personas["altura"], 10,replace=True)

muestra_altura

In [13]:
muestra_frac2 = df_personas.sample(frac= 0.01,  replace=True)
muestra_frac2

         altura        peso       ingreso  horas_trabajadas  ausencias
200  134.638020   79.033976   6178.455467         40.794684          5
873  125.315012   71.437726  10655.627960         40.363773          3
838  168.645246  108.886544   9899.402771         41.476258          4
632  163.431239   98.573324   7697.996185         40.253445          5
412  145.510628   74.550913   8685.258553         41.045363          4
114  158.474768   89.442860  12957.738760         41.755488          2
219  135.202738   69.211938  11881.246420         41.222369          3
990  169.245012  104.728251   8326.952663         41.909091          4
753  135.560896   78.345550  11509.433710         41.703491          3
87   162.414544   92.186679   7375.862502         41.115607          5

In [14]:
muestra_n2 = df_personas.sample(n = 1100, replace=True)
muestra_n2

         altura        peso       ingreso  horas_trabajadas  ausencias
518  150.790008   94.205625  12486.205110         41.301266          2
281  137.354839   75.830813  10553.473740         40.794279          3
273  152.434815   91.791577  12947.296220         41.924367          2
740  149.806252  106.644449   9935.343327         40.986231          4
841  194.575166  123.001427  14779.753550         42.188158          1
..          ...         ...           ...               ...        ...
712  140.371076   78.478965   6188.523777         40.884202          5
707  171.082474  117.885713  12516.985640         41.285385          2
3    123.227119   57.884172  12064.915290         41.537211          3
523  157.040371   94.950770   8175.929396         41.200580          5
936  140.452296   76.248330   8001.822469         41.098299          5

[1100 rows x 5 columns]

### Muestreo aleatorio con repeticion

muestra_altura = np.random.choice(df_personas["altura"], 100,replace=True)

np.sort(muestra_altura)

In [15]:
muestra_np = np.random.choice(df_personas["altura"], 10, replace=True)
muestra_np

array([184.4462811, 166.2338815, 166.9931359, 168.2073247, 151.6784544,
       166.6574635, 153.8773794, 134.0758643, 137.8160034, 159.230625 ])

### Muestreo de Elementos de una Columna

muestra_altura = np.random.choice(df_personas["altura"], 100,replace=False)

np.sort(muestra_altura)

### sklearn

https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df_personas[["altura","peso","ausencias","horas_trabajadas"]], df_personas["ingreso"], test_size=0.33)

X_train

In [4]:
import numpy as np
from sklearn.model_selection import train_test_split
X, y = np.arange(10).reshape((5, 2)), range(5)
X
list(y)

[0, 1, 2, 3, 4]

In [25]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.33, random_state=42)
X_train
y_train
X_test
y_test

[1, 4]

In [27]:
train_test_split(y, shuffle=False)

[[0, 1, 2], [3, 4]]

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df_personas[["altura","peso","ausencias","horas_trabajadas"]], df_personas["ingreso"], test_size=0.33)

X_train

         altura        peso  ausencias  horas_trabajadas
31   146.019184   79.036893          6         40.813396
20   146.856315   83.260372          6         41.224422
859  172.800593  110.761541          1         41.459068
409  157.727978  100.975649          2         42.697856
731  134.488991   72.141829          5         40.114527
..          ...         ...        ...               ...
968  175.853397  124.958058          3         40.463241
316  165.884576  102.749026          5         41.567455
313  130.957903   48.967507          4         40.917430
839  132.022236   68.900270          1         41.985477
113  148.748746  100.642926          2         42.383167

[670 rows x 4 columns]

In [12]:
import pandas as pd
from sklearn.model_selection import  train_test_split

pacientes = pd.read_csv('Dataset/problemas_del_corazon.csv')

pacientes

    edad  genero  presion  colesterol  diabetico  cardiaco
0     53       0      128         216          0         1
1     53       0      138         234          0         1
2     51       0      130         256          0         1
3     66       1      120         302          0         1
4     62       1      130         231          0         1
..   ...     ...      ...         ...        ...       ...
95    57       1      128         229          0         0
96    61       1      120         260          0         0
97    39       1      118         219          0         0
98    61       0      145         307          0         0
99    56       1      125         249          1         0

[100 rows x 6 columns]

In [ ]:
entrenamiento_x, prueba_x, entrenamiento_y, prueba_y = train_test_split