### Imputacion de datos

import matplotlib.pyplot as plt

import numpy as np

import pandas as pd

import scipy as stat

In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import scipy as stat

clientes = pd.read_csv("clientes.csv")

df_clientes

In [6]:
clientes_df = pd.read_excel('Dataset/clientes.xlsx')
clientes_df

    nombre  edad  ingreso
0     Juan  35.0  15800.0
1    Luisa  25.0  17000.0
2      NaN  70.0  20000.0
3   Carmen  49.0  22000.0
4      NaN   NaN      NaN
5    Mario  30.0  15800.0
6    Pedro   NaN  17400.0
7  Gustavo  27.0      NaN
8   Carlos   NaN      NaN

### Buscar valores nulos

print(df_clientes['ingreso'].isnull())

In [7]:
print(clientes_df['ingreso'].isnull())

0    False
1    False
2    False
3    False
4     True
5    False
6    False
7     True
8     True
Name: ingreso, dtype: bool

### Filtrar solo valores nulos

print(df_clientes[df_clientes["ingreso"].isnull()])

In [8]:
print(clientes_df[clientes_df["ingreso"].isnull()])

TypeError: Series.isnull() takes 1 positional argument but 2 were given

### eliminar valores nulos a la mala

print(df_clientes.dropna())

print(df_clientes.dropna(subset=["edad","ingreso"]))

df_clientes2=pd.DataFrame.copy(df_clientes)

df_clientes2

df_clientes.dropna(subset=["ingreso"],inplace=True)

df_clientes

### rellenar con valor por defecto 0

print(df_clientes.fillna(0))

### rellenar con valor por defecto "Desconocido" para los campos de texto

print(df_clientes["nombre"].fillna("Desconocido"))

### Imputar valores por valores estadisticos

promedio=df_clientes2["edad"].mean()

mediana=df_clientes2["edad"].median()

moda=df_clientes2["edad"].mode()

print(promedio)

print(df_clientes2["edad"].fillna(promedio))