# Normalizacion de datos

import  matplotlib.pyplot as plt

import numpy as np

import pandas as pd

import seaborn as sns

import plotly.express as px

In [1]:
import  matplotlib.pyplot as plt

import numpy as np

import pandas as pd

import seaborn as sns

import plotly.express as px


personas = pd.read_csv("personas.csv")

df_personas

In [2]:
personas_df = pd.read_excel('Dataset/personas.xlsx')
personas_df

         altura        peso       ingreso  horas_trabajadas  ausencias
0    134.433878   70.617864   9973.577534         40.905476          4
1    167.158746  109.268295   8961.047249         41.576483          4
2    141.480812   81.034644   7437.977263         41.369239          5
3    123.227119   57.884172  12064.915290         41.537211          3
4    143.554951   93.581093   9296.396167         40.441203          4
..          ...         ...           ...               ...        ...
995  169.059462  109.612155   9998.522402         41.110352          4
996  151.873081   91.697127   6867.097603         40.617061          5
997  131.156800   78.301155   9757.539280         40.798085          4
998  156.454396   94.163603  11044.031510         41.443604          3
999  149.558353   87.134622  13222.253800         41.402637          2

[1000 rows x 5 columns]

### Normalizacion y estandarizacion

https://scikit-learn.org/stable/modules/preprocessing.html

#### Metodos 1 sklearn

from sklearn import preprocessing

z_scaler = preprocessing.StandardScaler()

personas_z=z_scaler.fit_transform(df_personas)

personas_z

type(personas_z)

#personas_z=pd.DataFrame(personas_z,columns=["altura","peso","ingreso","horas_trabajadas","ausencias"])

personas_z=pd.DataFrame(personas_z,columns=df_personas.columns)

type(personas_z)

fig=px.box(df_personas)

fig.show()

fig=px.box(personas_z)

fig.show()

### Min-MAX: Normalización

El método de estandarización MIN-MAX transformará linealmente los datos originales.
A cada dato se le resta el mínimo, y esa diferencia se divide entre maximo menos minimo.
Obviamente, cuando X es el valor máximo, se convertirá a 1; cuando X es un valor mínimo, el nuevo valor correspondiente es 0; El conjunto completo de datos se distribuye dentro del intervalo de 0 a 1, y la distribución de datos. y no cambiará.

mm_scaler=preprocessing.MinMaxScaler()

personas_mm=mm_scaler.fit_transform(df_personas)

personas_mm=pd.DataFrame(personas_mm,columns=df_personas.columns)

sns.jointplot(data=personas_mm,color='m',x="altura",y="peso")

### Maxabs: Normalización máxima de valor absoluto

En la ciencia de los datos, a menudo necesitamos responder a los datos dispersos, y el método Maxabs tiene un buen soporte para los datos dispersos. El método de estandarización MAXABS es similar al método MIN-MAX,

Es decir, el valor máximo del valor absoluto en todo el conjunto de datos se elimina, de modo que las propiedades positivas y negativas de los datos originales se conservan, y los datos han caído dentro de intervalos cerrados [-1, 1]. Cabe señalar que la operación de excelente valor es primero, luego se selecciona el valor máximo, no el valor máximo, y luego solicita valores absolutos. He visto muchos artículos mal. Por ejemplo, hay un conjunto de datos [-0.01, -1, -2], si buscamos primero el valor máximo y luego buscar valores absolutos, no lo digamos, los datos son simplemente al suelo.

ma_scaler=preprocessing.MaxAbsScaler()

personas_ma=ma_scaler.fit_transform(df_personas)

personas_ma=pd.DataFrame(personas_ma,columns=df_personas.columns)

sns.jointplot(data=personas_ma,color='m',x="altura",y="peso")

fig=px.box(df_personas)

fig.show()

fig=px.box(personas_z)

fig.show()

fig=px.box(personas_mm)

fig.show()

fig=px.box(personas_ma)

fig.show()